secrets/**
.env

vw-data
etc/letsencrypt/accounts/**
etc/letsencrypt/archive/**
etc/letsencrypt/live/**
etc/letsencrypt/renewal/**
etc/letsencrypt/renewal-hooks/**


etc/letsencrypt/ssl-dhparams.pem

etc/letsencrypt/options-ssl-nginx.conf
