services:
  vaultwarden:
    image: vaultwarden/server:1.34.3
    container_name: vaultwarden
    user: 1000:1000
    userns_mode: "host"
    volumes:
      - ./vw-data:/data
    networks: [internal]
    restart: unless-stopped
    env_file:
      - .env_vault

  nginx:
    image: nginx:1.29-alpine
    container_name: nginx_vault
    restart: unless-stopped
    depends_on: [vaultwarden]
    volumes:
      - ./etc/nginx/templates:/etc/nginx/templates:ro
      - ./etc/letsencrypt:/etc/letsencrypt:ro
      - ./certbot/data:/var/www/certbot
    ports:
      - "9443:9443"
    env_file:
      - .env_certbot
    networks: [internal]

networks:
  internal:
