services:
  vaultwarden:
    image: vaultwarden/server:1.34.3
    container_name: vaultwarden
    user: 1000:1000
    volumes:
      - vaultwarden_data:/data
    networks: [internal]
    restart: unless-stopped
    env_file:
      - .env

  nginx:
    image: nginx:1.29-alpine
    depends_on: [vaultwarden]
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./secrets/nginx/certs/127.0.0.1+1.pem:/etc/nginx/certs/127.0.0.1+1.pem:ro
      - ./secrets/nginx/certs/127.0.0.1+1-key.pem:/etc/nginx/certs/127.0.0.1+1-key.pem:ro
    ports:
      - "9443:9443"
    networks: [internal]

networks:
  internal:

volumes:
  vaultwarden_data: